.prediction--card{
    display: flex;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 15px;
    border: thin solid black;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.prediction--score{
    margin: 0 10px;
    font-weight: bold;
    font-size: x-large;
}

.prediction--team1, .prediction--team2 {
    font-size: large;
    width:250px;
}

.prediction {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button--round{
    border-radius: 50%;
    padding: 5px 8px;
    margin: 5px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: solid thin white;
}

.button--round:hover {
    background-color: white;
    color: black;
    border: solid thin black;
    cursor: pointer;
}




